@use "../variable";


main.main-page {

    h1{
        font-size: 2.1rem;
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 10px;
    }
    .folder-buttons{
        width: 100%;
        background-color: variable.$light-grey;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border:2px solid black;
        span{
            margin: 0 auto;
            width: 80%;
            border-bottom: 1px solid grey;
        }
        button{
            display: block;
            line-height: 1.7;
            background-color: transparent;
            color: white;
            border: none;
            i{
                color: orange;
                margin-right: 10px;
                opacity: 0.7;
            }
        }
    }
}