@use "../variable";


nav{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;

    i.fa{
    display: flex;             
    align-items: center;       
    justify-content: center;   
    width: 40px;               
    height: 40px;              
    background-color: variable.$light-grey;
    border-radius: 50%;     
    box-shadow: -1px -1px 1px rgba(154, 152, 152, 0.493);
    
    }
    button{
        background: variable.$light-grey;
        width: 60px;               
        height: 40px; 
        color: white;
        border: 1px solid #cccccc3b;
        border-radius: 20px;
        box-shadow: 1px 1px 1px rgba(154, 152, 152, 0.493);
        font-size: 1rem;
    }
}
