* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.931);
  color: white;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}